@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  color: #4B5563;
  text-decoration: none;
}

.logo {
  margin: 10px;
  width: 245px;
  height: 43px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 37px;
  border: #B4AEAE solid 1px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  font-weight: 400;
}

.nav-link {
  transition: 0.5s;
}

.nav-link:hover {
  color: #0088d2;
}

.nav-botao {
  color: #FFFFFF;
  width: 189px;
  height: 60px;
  border: 1px;
  border-radius: 6px;
  background-color: #16A34A;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: medium;
}

.nav-botao:hover {
  transition: 0.5s;
  background-color: #21C05C;
}

.section-banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  .banner-text {
    display: flex;
    flex-direction: column;
    max-width: 678px;
    gap: 40px;
  }

  .banner-text h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    color: #1F2937;
  }

  .banner-text h4 {
    width: 678px;
    height: 48px;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    color: #4B5563;
  }

  .banner-botoes {
    display: flex;
    gap: 50px;
    margin-top: 16px;
  }

  .btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 189.81px;
    height: 62px;
    border: none;
    border-radius: 6px;
    background-color: #16A34A;
    cursor: pointer;
  }

  .btn-1 a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
  }

  .btn-1 img {
    width: 24px;
    height: 24px;
    display: block;
  }

  .btn-1:hover {
    transition: 0.5s;
    background-color: #21C05C;
  }

  .btn-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 189.81px;
    height: 62px;
    border: 1px solid #2563EB;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-2 a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2563EB;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
  }

  .btn-2 img {
    width: 24px;
    height: 24px;
    display: block;
  }

  .btn-2:hover {
    transition: 0.5s;
    border: 1px solid #16A34A;
  }

  .banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.section-banner2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3F5F8;
  width: 1px, 182px;
  height: 184px;

  .card-1,
  .card-2,
  .card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-1 h2,
  .card-2 h2,
  .card-3 h2 {
    width: 110px;
    height: 60px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #16A34A;
  }

  .card-1 p {
    width: 153px;
    height: 24px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #4B5563
  }

  .card-2 p {
    width: 176px;
    height: 24px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #4B5563
  }

  .card-3 p {
    width: 192px;
    height: 24px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #4B5563
  }
}

.section-banner3 {
  margin: 70px 94px;

  .banner-text2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;

    h2 {
      font-family: "Poppins";
      font-weight: 700;
      max-width: 338px;
      max-height: 60px;
      font-size: 40px;
      line-height: 100%;
      color: #1F2937;
    }

    h3 {
      font-family: "Inter";
      max-width: 494px;
      max-height: 38px;
      font-weight: 400;
      font-size: 25px;
      line-height: 150%;
      color: #1F2937;
    }
  }

  .cards-section3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 80px;

    .card-doadores {
      display: block;
      align-items: center;
      justify-content: center;
      background-color: #F3F5F8;
      width: 491px;
      height: 440px;
      border-radius: 8px;
      padding: 30px;


      h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: #16A34A;
        max-height: 38px;

        img {
          width: 53.58px;
          height: 53.58px;
        }
      }

      p {
        font-family: "Poppins";
        font-weight: 400px;
        font-size: 16px;
        line-height: 100%;
        max-width: 430px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #4B5563;
      }

      .lista {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .item-1 {
          display: flex;
          align-items: center;
          gap: 10px;

          .itens-text1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;

            p {
              margin: 0px;
            }

            .p-1 {
              max-width: 296px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              color: #09090B;
            }

            .p-2 {
              max-width: 357px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #4B5563;
            }

            img {
              width: 32px;
              height: 32px;
            }
          }
        }

        .item-2 {
          display: flex;
          align-items: center;
          gap: 10px;

          .itens-text2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;

            p {
              margin: 0;
            }

            .p-3 {
              max-width: 296px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              color: #09090B;
            }

            .p-4 {
              max-width: 309px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #4B5563;
            }

            img {
              width: 32px;
              height: 32px;
            }
          }
        }

        .item-3 {
          display: flex;
          align-items: center;
          gap: 10px;

          .itens-text3 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;

            p {
              margin: 0;
            }

            .p-5 {
              max-width: 296px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              color: #09090B;
            }

            .p-6 {
              max-width: 309px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #4B5563;
            }

            img {
              width: 32px;
              height: 32px;
            }

          }
        }
      }
    }
  }

  .cards-section4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 80px;

    .card-adquirentes {
      display: block;
      align-items: center;
      justify-content: center;
      background-color: #F3F5F8;
      width: 491px;
      height: 440px;
      border-radius: 8px;
      padding: 30px;

      h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: #2563EB;
        max-height: 104px;

        img {
          width: 53.58px;
          height: 53.58px;
        }
      }

      p {
        font-family: "Poppins";
        font-weight: 400px;
        font-size: 16px;
        line-height: 100%;
        max-width: 430px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #4B5563;
      }

      .lista2 {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .item-4 {
          display: flex;
          align-items: center;
          gap: 10px;

          .itens-text4 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;

            p {
              margin: 0;
            }

            .p-7 {
              max-width: 296px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              color: #09090B;
            }

            .p-8 {
              max-width: 309px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #4B5563;
            }

            img {
              width: 32px;
              height: 32px;
            }
          }
        }

        .item-5 {
          display: flex;
          align-items: center;
          gap: 10px;

          .itens-text5 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;

            p {
              margin: 0;
            }

            .p-9 {
              max-width: 296px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              color: #09090B;
            }

            .p-10 {
              max-width: 309px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #4B5563;
            }

            img {
              width: 32px;
              height: 32px;
            }
          }
        }

        .item-6 {
          display: flex;
          align-items: center;
          gap: 10px;

          .itens-text6 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 7px;

            p {
              margin: 0;
            }

            .p-11 {
              max-width: 296px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              color: #09090B;
            }

            .p-12 {
              max-width: 309px;
              max-height: 24px;
              font-family: "Poppins";
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #4B5563;
            }

            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}

.section-banner4 {
  border: 2px solid green;
  background-color: #F3F5F8;
  padding: 50px 92px;
  width: 100%;
  height: 774px;

  .banner-text3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    h2 {
      font-family: "Poppins";
      font-weight: 700;
      max-width: 431px;
      font-size: 40px;
      line-height: 100%;
      color: #1F2937;
    }

    h3 {
      font-family: "Inter";
      max-width: 314px;
      font-weight: 400;
      font-size: 25px;
      line-height: 150%;
      color: #4B5563;
    }
  }

  .cards-section5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    text-align: center;

    .produto1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 299px;
      height: 430px;
      border: 2px solid #16A34A;
      border-radius: 8px;
      background-color: #FFFFFF;
      gap: 20px;

      img {
        width: 295px;
        height: 233px;
      }

      h4 {
        font-family: "Inter";
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #09090B;
      }

      p {
        font-family: "Poppins";
        font-weight: 400;
        max-width: 222px;
        font-size: 16px;
        line-height: 100%;
        color: #4B5563;
      }

      .btn-fone {
        background-color: #16A34A;
        width: 150px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #16A34A;
        cursor: pointer;

        a {
          width: 95px;
          height: 17px;
          font-family: "Inter";
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #FFFFFF;
        }
      }

      .btn-fone:hover {
        transition: 0.5s;
        background-color: #21C05C;
        font-weight: bold;
      }
    }

    .produto2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 299px;
      height: 430px;
      border: 2px solid #16A34A;
      border-radius: 8px;
      background-color: #FFFFFF;
      gap: 20px;

      img {
        width: 295px;
        height: 233px;
      }

      h4 {
        font-family: "Inter";
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #09090B;
      }

      p {
        font-family: "Poppins";
        font-weight: 400;
        max-width: 222px;
        font-size: 16px;
        line-height: 100%;
        color: #4B5563;
      }

      .btn-not {
        background-color: #16A34A;
        width: 150px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #16A34A;
        cursor: pointer;

        a {
          width: 95px;
          height: 17px;
          font-family: "Inter";
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #FFFFFF;
        }
      }

      .btn-not:hover {
        transition: 0.5s;
        background-color: #21C05C;
        font-weight: bold;
      }
    }

    .produto3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 299px;
      height: 430px;
      border: 2px solid #16A34A;
      border-radius: 8px;
      background-color: #FFFFFF;
      gap: 20px;

      img {
        width: 295px;
        height: 233px;
      }

      h4 {
        font-family: "Inter";
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #09090B;
      }

      p {
        font-family: "Poppins";
        font-weight: 400;
        max-width: 222px;
        font-size: 16px;
        line-height: 100%;
        color: #4B5563;
      }

      .btn-cell {
        background-color: #16A34A;
        width: 150px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #16A34A;
        cursor: pointer;

        a {
          width: 95px;
          height: 17px;
          font-family: "Inter";
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #FFFFFF;
        }
      }

      .btn-cell:hover {
        transition: 0.5s;
        background-color: #21C05C;
        font-weight: bold;
      }
    }

  }
}